{%extends "base.html"%}
{%block content%}
<br>
<div style="width: 40%;">
<div class="card card-outline-secondary">
  <div class="card-header" style="background-color: #69b518">
        <h3 class="mb-0"><b><font color="white">Patient Details</font></b></h3>
    </div>
<div class="card-body" style="background-color: #d7fab1">
  <form class="form" role="form" method="post">
    <div class="form-group">
      <label for="f_name"><b><font color="red">*</font> First Name:</b></label>
      <input style="display: block; width:100%" class="input" type="text" id="f_name" name="f_name" value="{{request.form.f_name}}" pattern="[A-Za-z]+" title="Only letters are allowed" placeholder="Only letters and spaces" required>
    </div>

		<!-- <tr><td><font color="red">*</font> First Name:</td><td><input class="input" type="text" name="f_name" value="{{request.form.f_name}}" pattern="[A-Za-z]+" title="Only letters are allowed" placeholder="Only letters and spaces" required></td></tr> -->

    <div class="form-group">
      <label for="l_name"><b><font color="red">*</font> Last Name:</b></label>
      <input style="display: block; width:100%" class="input" type="text" id="l_name" name="l_name" value="{{request.form.l_name}}" pattern="[A-Za-z]+" title="Only letters are allowed" placeholder="Only letters and spaces" required>
    </div>

		<!-- <tr><td><font color="red">*</font> Last Name:</td><td><input class="input" type="text" name="l_name" value="{{request.form.l_name}}" pattern="[A-Za-z]+" title="Only letters are allowed" placeholder="Only letters and spaces" required></td></tr> -->

    <div class="form-group">
      <label for="email"><b><font color="red">*</font> Email:</b></label>
      <input style="display: block; width:100%" id="email" class="input" type="email" name="email" value="{{request.form.email}}" required>
    </div>
    <button type="submit" class="btn btn-success float-right" id="btnLogin">Create and Add</button>
  </form>
<div class="text-danger">* required</div>
</div>
</div>
</div>
{%endblock%}